{% extends "base.html.twig" %}

{% block body %}
    {{ form_start(form) }}
<div class="mb-3 fs-3">
    {{ form_widget(form) }}
</div>
<div class="text-center m-5">
    <input type='submit' value='Add program'>
</div>
    {{ form_end(form) }}
{% endblock %}